h1{text-align: center;}
body {
    font-family: 'Trebuchet MS', sans-serif;
  }


div{background-color: #999999;
    
    border: 2px solid black;
    box-sizing: border-box;
    
}

h2{background-color:#D59898;
    text-align: center;
    border-bottom: 2px solid black;
    border-left:2px solid black;
    margin: 0;
    width: 130px;
    box-sizing: content-box;
    float: right;
}

#h2-1{background-color: #C14543;
    color:white;}

#h2-2{background-color: #E5D198;}

p{
    padding-top: 20px;
    padding-left: 10px;
}

@media (min-width: 992px){
    div{width:30%;
        float:left;
        margin: 1%}
}

@media(min-width:768px) and (max-width:991px){
    div{float:left;
        width: 45%;
        margin:1%}
    #div1{width:92%;}

}

@media(max-width:767px){
    div{margin-bottom: 2%;}

}